.hero_container {
    color: var(--salmon); 
    padding: 50px 0; 
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    gap: 20px; 
}

.title {
    font-size: 2.5rem; 
    color: var(--dark-teal);
}

.hero_subtitle {
    font-size: 1.5rem; /* Substantial but smaller than the title */
    color: var(--teal); /* A color that stands out but is not too harsh */
    margin: 0; /* Reset margin */
}

.hero_description {
    max-width: 600px; /* Don't let the text span too wide */
    margin: 20px auto; /* Center and provide space */
    line-height: 1.6; /* Improve readability */
}

.hero_button {
    padding: 12px 24px; /* Sufficient padding */
    background-color: var(--mint); /* Button background color */
    color: var(--white); /* Text color */
    border: none; /* No border */
    border-radius: 25px; /* Rounded edges */
    cursor: pointer; /* Indicate it's clickable */
    font-size: 1rem; /* Readable text size */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.hero_button:hover {
    background-color: var(--salmon); /* Change color on hover */
}
