.hero_container {
    color: var(--salmon); 
    padding: 80px; 
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    background-color: var(--gray);
    border-radius: 140px;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.info_container{
padding-left: 1rem;
}

.title {
    font-size: 4rem; 
    font-weight: bold;
    color: var(--dark-teal);
}

.subtitle {
    font-size: 2rem; 
    padding-bottom: 2rem;
}

.download_button {
    border: none; 
    border-radius: 1rem;
    padding: 12px;
    width: 16rem;
    height: 3rem;
    background-color: var(--black);
    color: var(--white);
    font-weight: 800;
    cursor: pointer;
    position: absolute;

  }
  
  .download_button:hover {
    background-color: var(--white);
    color: var(--dark-teal);
    border: 2px solid var(--dark-teal);
    width: 18rem; 
    height: 3rem; 
  }
