.sub_banner_container{
    border-radius: 2rem;
    padding: var(--card-padding);
    margin-top: 6rem;
    margin-bottom: 6rem;

    border: 8px solid var(--mint);
    border-radius: 140px;
    background-color: var(--light-gray);
    padding: var(--card-padding);
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}